.wrapper { 
	overflow:hidden;
}
.wrapper { 
	background-color:rgba(255, 255, 255, 1);
	width:595px;
	height:842px;
	position:relative;
	margin: 50px auto;

	
}
.container { 
	width:167px;
	height:114px;
	position:absolute;
	left:52px;
	top:58px;

}
.name-box { 
	background-color:rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
	width:51px;
	height:9px;
	position:absolute;
	left:0px;
	top:105px;
	border-top-left-radius:64px;
	border-top-right-radius:64px;
	border-bottom-left-radius:64px;
	border-bottom-right-radius:64px;
}
.name { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:88px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.img-con { 
	width:375px;
	height:375px;
	position:absolute;
	left:407px;
	top:46px;
}
.img-box { 
	border-radius:500px;
	background-color:rgba(190.0000038743019, 227.00000166893005, 248.0000004172325, 1);
	width:375px;
	height:375px;
	position:absolute;
	left:0px;
	top:0px;
}
.img img{ 
	box-shadow:0px 20px 25px rgba(0, 0, 0, 0.10000000149011612);
	width:124px;
	height:124.3306655883789px;
	position:absolute;
	left:5px;
	top:12.031999588012695px;
	border-top-left-radius:129px;
	border-top-right-radius:129px;
	border-bottom-left-radius:129px;
	border-bottom-right-radius:129px;
	/*background-image:url(images/img.jpg);*/
	background-repeat:no-repeat;
	background-size:cover;
}
.email-con { 
	width:220px;
	height:30px;
	position:absolute;
	left:340px;
	top:221px;
}
.email-box { 
	box-shadow:0px 10px 15px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
	width:220px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:64px;
	border-top-right-radius:64px;
	border-bottom-left-radius:64px;
	border-bottom-right-radius:64px;
}
.email { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:15px;
	position:absolute;
	left:27px;
	top:8px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.contact-con { 
	width:220px;
	height:30px;
	position:absolute;
	left:370px;
	top:261px;
}
.contact-box { 
	box-shadow:0px 10px 15px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(251.00000023841858, 211.00000262260437, 141.0000067949295, 1);
	width:220px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:64px;
	border-top-right-radius:64px;
	border-bottom-left-radius:64px;
	border-bottom-right-radius:64px;
}
.contact { 
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:15px;
	position:absolute;
	left:62px;
	top:8px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.address-con { 
	width:220px;
	height:30px;
	position:absolute;
	left:350px;
	top:301px;
}
.address-box { 
	box-shadow:0px 10px 15px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
	width:220px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:64px;
	border-top-right-radius:64px;
	border-bottom-left-radius:64px;
	border-bottom-right-radius:64px;
}
.address { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:15px;
	position:absolute;
	left:28px;
	top:8px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.education-box { 
	width:205px;
	height:155px;
	position:relative;
	left:353px;
	top:421px;
	margin-bottom: 5%;
}

.education-title { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:24px;
	position:relative;
	left:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.education-box ul{
	position: relative;
	padding-inline-start: 5px;
	

	
}
.education-box ul li{
	position: relative;
	margin-bottom: 5%;
	list-style: none;
	margin: 10px 0;
	

	
}

.education-box ul li .year{ 
	color:rgba(99.00000169873238, 179.000004529953, 237.0000010728836, 1);
	display: block;
	position:relative;
	
	left:2px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
/*.year{ 
	color:rgba(99.00000169873238, 179.000004529953, 237.0000010728836, 1);
	width:26px;
	height:15px;
	position:relative;
	left:2px;
	top:105px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}*/

.education-box ul li .degree{ 
	color:rgba(0, 0, 0, 1);
	position:relative;
	left:2px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	font-weight: 600;
	letter-spacing:0;
	display: block;
}
.education-box ul li .institution{ 
	color:rgba(0, 0, 0, 1);
	position:relative;
	left:2px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	display: block;
}

/*.institution{ 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:34px;
	position:relative;
	left:2px;
	top:121px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.institution { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:34px;
	position:relative;
	left:2px;
	top:121px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}*/
.work-con{ 
/*	width:246px;
	height:183px;*/
	left:37px;
/*	top:225px;*/
	margin-bottom: 10%;
	padding-bottom: 10%;
	position: relative;
}
.work-box ul li{ 
	position: relative;
	display: block;
	margin-bottom: 5%;

}
.work-box ul{
	position: relative;
	padding-inline-start: 5px;
}
.workexperience { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:24px;
	position:relative;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	display: block;
}
.work-box { 
	width:243px;
	height:151px;
	position:relative;
	display: block;
	left:0px;
	top:0px;

}
/*.e1_112 { 
	width:15px;
	height:84px;
	position:relative;
	left:0px;
	top:0px;
}
.e1_113 { 
	border-radius:500px;
	width:15px;
	height:15px;
	position:relative;
	left:0px;
	top:0px;
}
.e1_113 { 
	border:4px solid rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
}
.e1_114 { 
	transform: rotate(90.00000250447808deg);
	width:69px;
	height:0px;
	position:relative;
	left:7.000002861022949px;
	top:15px;
}
.e1_114 { 
	border:2px solid rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
}
.e1_115 { 
	width:15px;
	height:67px;
	position:relative;
	left:0px;
	top:84px;
}
.e1_116 { 
	border-radius:500px;
	width:15px;
	height:15px;
	position:relative;
	left:0px;
	top:0px;
}
.e1_116 { 
	border:4px solid rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
}
.e1_117 { 
	transform: rotate(90.00000250447808deg);
	width:32px;
	height:0px;
	position:relative;
	left:7.000002861022949px;
	top:15px;
}
.e1_117 { 
	border:2px solid rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
}
.e1_118 { 
	transform: rotate(90.00000250447808deg);
	width:7px;
	height:0px;
	position:relative;
	left:7.000000476837158px;
	top:50px;
}
.e1_118 { 
	border:2px solid rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
}
.e1_119 { 
	transform: rotate(90.00000250447808deg);
	width:7px;
	height:0px;
	position:relative;
	left:7.000000476837158px;
	top:60px;
}
.e1_119 { 
	border:2px solid rgba(144.00000661611557, 205.00000298023224, 244.0000006556511, 1);
}*/
.work-box ul li .year{ 
	color:rgba(99.00000169873238, 179.000004529953, 237.0000010728836, 1);
	position:relative;
	font-family:Montserrat;
	display: block;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.work-box ul li .company { 
	color:rgba(0, 0, 0, 1);
	display: block;
	position:relative;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	font-weight: 600;
	letter-spacing:0;
}
.work-box ul li .description { 
	color:rgba(0, 0, 0, 1);
	position:relative;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	display: block;
}
/*.e1_123 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:34px;
	position:relative;
	left:31px;
	top:100px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}*/
.achievement-con { 
/*	width:222px;
	height:75px;*/
	position:relative;
	left:41px;
/*	top:445px;*/
	margin-bottom: 5%;
}
.achievement-title{ 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:24px;
	position:relative;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.achievement-con ul{
	position: relative;
	padding-inline-start: 5px;
}
.achievement-con ul li{
	display: block;
	position: relative;
	list-style: none;
	margin-bottom: 5px;
}
.achievement-con ul li .year{ 
	color:rgba(99.00000169873238, 179.000004529953, 237.0000010728836, 1);

	font-family: Montserrat;
	position:relative;

	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.achievement-con ul li .award { 
	color:rgba(0, 0, 0, 1);
	font-weight: 600;
	position:relative;
	font-family: Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.reference { 
	width:140px;
	height:24px;
	position:relative;
	display: block;
	left:37px;
/*	top:567px;*/
}
.references-title { 
	color:rgba(0, 0, 0, 1);
	position:relative;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	margin-bottom: 5%;
}
.reference-box { 
	position:relative;
	display: block;
	margin-bottom: 5%;
	padding-inline-start: 5px;
	margin-top: 5%;


	
}
.ref-name { 
	color:rgba(0, 0, 0, 1);

	position:relative;
	display: block;
	font-family:Quicksand;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ref-role { 
	color:rgba(0, 0, 0, 1);

	position:relative;
	font-family:Quicksand;
	display: block;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	
}
.ref-phone { 
	color:rgba(0, 0, 0, 1);
	position:relative;
	text-align:left;
	display: block;
	font-size:12px;
	letter-spacing:0;
}
.ref-email { 
	color:rgba(0, 0, 0, 1);
	position:relative;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}

.skill-con { 
	width:203px;
	height:185px;
	position:relative;
	display: block;
	left:353px;
/*	top:600px;*/
}
.skill-title { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:24px;
	position:relative;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.skill-con ul{
	position: relative;
	padding-inline-start: 5px;
}
.skill-con ul li{ 
	color:rgba(99.00000169873238, 179.000004529953, 237.0000010728836, 1);
	position:relative;
	font-family:Montserrat;
	/*text-align:left;*/
	font-size:14px;
	letter-spacing:0;
	list-style: none;
}


.e6_94 { 
	width:216px;
	height:363px;
	position:absolute;
	left:367px;
	top:35px;
}
.e1_146 { 
	border-radius:500px;
	width:20px;
	height:20px;
	position:absolute;
	left:35px;
	top:0px;
}
.e1_146 { 
	border:2px solid rgba(237.0000010728836, 137.00000703334808, 54.00000058114529, 1);
}
.e1_147 { 
	border-radius:500px;
	width:20px;
	height:20px;
	position:absolute;
	left:196px;
	top:335px;
}
.e1_147 { 
	border:2px solid rgba(237.0000010728836, 137.00000703334808, 54.00000058114529, 1);
}
.e1_148 { 
	border-radius:500px;
	width:20px;
	height:20px;
	position:absolute;
	left:193px;
	top:127px;
}
.e1_148 { 
	border:2px solid rgba(66.00000366568565, 153.00000607967377, 225.00000178813934, 1);
}
.e1_149 { 
	border-radius:500px;
	width:20px;
	height:20px;
	position:absolute;
	left:35px;
	top:157px;
}
.e1_149 { 
	border:2px solid rgba(66.00000366568565, 153.00000607967377, 225.00000178813934, 1);
}
.e1_150 { 
	background-color:rgba(237.0000010728836, 137.00000703334808, 54.00000058114529, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:120px;
}
.e1_151 { 
	background-color:rgba(66.00000366568565, 153.00000607967377, 225.00000178813934, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:181px;
	top:20px;
}
.e1_152 { 
	background-color:rgba(66.00000366568565, 153.00000607967377, 225.00000178813934, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:80px;
	top:348px;
}
