*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Oxygen, sans-serif;
    margin: 2rem;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}
.Card2 {
    overflow: hidden;
    box-shadow: 0 2px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}
.Card2 img {
    height: 12rem;
    width: 100%;
    object-fit:contain;
}
.Card2_title {
    padding: 1rem;
}

.Preview_button {
    padding: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 20px;
    border: 2px solid;
    background: transparent;
    color:  #2CE080;
    width: 80%;
    margin-bottom: 3px;
    border-radius: 2px;
/*    transition:  200ms ease-in, color 200ms ease-in;*/
}
.download_button {
    padding: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 20px;
    border: 2px solid;
    background: transparent;
    color:  #2CE080;
    border-radius: 2px;
    margin-top: 3px;
    width: 80%;
    transition:  200ms ease-in, color 200ms ease-in;
}
.Card2:hover {
    transform: scale(1.02);
}
.Card2:hover .Preview_button {
    background: #F5F5F5;
    color: #2CE080;
}
.Card2:hover .download_button {
    background: #F5F5F5;
    color: #2CE080;
}


