@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body{
    background: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin:50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}

.container .left_Side{
    position: relative;
    background: #552D2D;
    padding: 40px;
    
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: white;
    font-size: 16px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 13px;
}

.profileText h2 span{
    font-size: 10px;
    font-weight: 300;
}

.contactinfo{
    padding-top: 40px ;
}

.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.container ul{
    position: relative;
}

.contactinfo ul li{
    position: relative;
    list-style:none;
    margin: 10px 0;
    cursor: pointer;
}

.contactinfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:wheat;
}

.contactinfo ul li span{
    color: white;
    font-weight: 300;
    font-size: 13px;
}

.education {
    margin-top: 100px;
}
.education ul li{
    position: relative;
    list-style:none;
    margin: 10px 0;
    cursor: pointer;

}
.education li{
    margin-bottom: 20px;
}

.education h5{
    color:wheat;
    font-weight: 500;
}

.education h4:nth-child(2){
    color:white;
    font-weight: 500;
    font-size: 14px;
}

.education h4{
    color:white;
    font-weight: 300;
    font-size: 14px;
}

.container .right_Side{
    position: relative;
    background: white;
    padding: 40px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #552D2D;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.p{
    color: #333;
   
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: rgb(224, 188, 120);
    font-size: 16px;
}

.about .box .text li{
    margin-top: 10px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
  
}
.Achievements{
    margin-top: 50px;
}
.Achievements .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.Achievements .box .year_achieve{
    min-width: 100px;
}

.Achievements .box .year_achieve h5{
    color: #848c90;
    font-weight: 600;
}

.Achievements .box .text p{
    text-transform: uppercase;
    color: rgb(22, 22, 21);
    font-size: 12px;
    font-weight: 300;
    font-weight: bold;
}

.Skills{
    margin-top: 50px;
}

.Skills .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.Skills .box ul li{
    position:relative;
    margin: 5px 0;
    margin-left: 20px;
    cursor: pointer;
    font-weight:inherit;
    font-size: 14px;
    

}

.references {
    margin-top: 50px;
}

.references .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.references ul{
    position: relative;
    margin-bottom: 20px;
}

.references .ul .li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    margin-bottom: 50px;
    cursor: pointer;
}

.references li{
    margin-bottom: 10px;
    list-style: none;
}

.references ul li span {
    font-weight: 300;
    font-size: 14px;
}

.references .text-dark{
    font-weight: bold;
}
