
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap');

html { font-size:100%; } 
*{
    
    font-family: 'playfair Display', serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;

}
@font-face {
    font-family: "Lato";
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
}

body{
    background: #C8FCE3;
    font-size: 14px;
    line-height: 20px;
}
/*@media only screen and (max-width: 740px) {
    h1 { font-size: 4.5em; }
    h3 { font-size: 2.2em; }
    h2 { display: block; text-align: center; }

    
    #w { padding: 20px 15px; }
    p { padding: 0; }
}

@media only screen and (max-width: 570px) {
    ul li {
      display: inline-block; 
      padding-left: 15px; 
      width: 140px; 
      background-position: -5px 0px;
      margin-right: 6px; 
      line-height: 1.7em;
    }
    #skills-left, skills-right { margin-bottom: 15px; }
}
@media only screen and (max-width: 480px) {
    ul li { width: 120px; }
    #w { margin: 0 20px; }
}
   
@media only screen and (max-width: 320px) {
    #w { margin: 0 10px; }
}
  */ 
  /** iPhone only **/
/*@media screen and (max-device-width: 480px) {
    ul li { width: 150px; }
}
@media screen and (max-width: 800px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
/*@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
*/

/*@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } */

.wrapper{
    
    
    font-family: 'PlayFair Display',serif;
    width: 100%;
    margin: 50px auto;
    background: #F5F6F8;
    padding: 15px;
    width: 800px;
    page-break-after: always;
 
    
}
.border{
    border: 4px solid rgba(34, 33, 33, 0.6);
}
.container{
    display: flex;
    width: 600px;
    margin: 50px auto;
    padding: 10px;

    
  
}
.center {
    border: 2px solid #C6D9D9;
	text-align: center;
	position: relative;
    line-height: 60px;
    margin-top: 10px;
    font-family: 'Playfair Display';
    
}

.name {
	font-size: 50px;
	font-weight: 300;
	display: inline-block;
    bottom: 10px;
    padding-top: 20px;
    
}
.role{
    font-size: 20px;
	font-weight: 300;
	display: inline-block;
    position: relative;
    line-height: 60px;
    
    
}



.container .left_Side{
    position: relative;
    width: 50%;
    margin: 15px;
   
}

.contactinfo ul li{
    position: relative;
    list-style:none;
    margin: 10px 0;
    cursor: pointer;

    
}

.contactinfo ul li .text-title{
    display:block;
    width: 30px;
    font-size: 12px;
    font-weight:bold;
    
}

.contactinfo ul li span{
   display: block;
    font-weight: 300;
    font-size: 10px;
}
.Skills{
    margin-top: 50px;
    
}

.progressBar {
    margin-bottom: 26px;
    margin-bottom: 1.66em;
  }
  

  
  .progressBarContainer {
    width: 100%;
    max-width: 80%;
    height: 10px;
    height: 0.5em;
    background: #BACFD3;
    background: rgba(8,102,220,.2);
    overflow: hidden;
}
  
  .progressBarValue {
    height: 0.5em;
    float: left;
    background: #171824;
    background: rgba(2, 16, 32, 0.75);
  }
  
  .value-00 { width: 0; }
  
  .value-10 { width: 10%; }
  
  .value-20 { width: 20%; }
  
  .value-30 { width: 30%; }
  
  .value-40 { width: 40%; }
  
  .value-50 { width: 50%; }
  
  .value-60 { width: 60%; }
  
  .value-70 { width: 70%; }
  
  .value-80 { width: 80%; }
  
  .value-90 { width: 90%; }
  
  .value-100 { width: 100%; }




.title{
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.Achievements .box {
    display: block;
    position: relative;
    
}
.Achievements .box .year_achieve{
    font-weight: 400;
    color: #808080;
}
.Achievements .box .text{
    font-size: 12px;
    font-weight: 500;
}
.container .right_Side{
    position: relative;
    width: 50%;
    
   
}
.about .box{
    display: block;
    position: relative;
    padding: 5px;
}

.box .year{
    float: right;
    color: #808080;
    font-size: 12px;

}
.box .company{
   display: contents;
}
h4{
    font-size: 12px;
    color: #808080;
}
.box .text li{
    display:list-item;
    list-style-type:disc;
    font-size: 11px;
}

.education .ul li{
    display: block;
}

h3{
   font-size: 13px;
}
h5{
    font-size: 12px;
    font-weight: 300;
}
h6{
    font-size: 10px;
    color: #808080;
}
.references {
    margin-top: 5%;
 
}


.references ul{
    position: relative;
    display: block;
    padding-bottom: 5%;
    
    
}

.references .ul .li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    margin-bottom: 50px;
    cursor: pointer;
    

}
    
.references ul li span {
    font-weight: 300;
    font-size: 12px;
    display:contents;

}

.references .text-dark{
    font-weight: bold;
    
}
.references .role{
    font-size: 10px;
    color: #808080;
    line-height: 15px;
    display:block;
}