@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    

}
html{
    scroll-behavior: smooth;
}
body{
    background: #DBDBDB;
    font-size: 14px;
    line-height: 20px;
}
h2{
    text-transform: uppercase;
}
.container{
    display: flex;
    width: 800px;
    margin: 50px auto;
    background: #E8E7E9;
    padding: 10px;
}

.container .right_Side{
   
    background: #525252;
    position: relative;
    width: 35%;
    
   
    

}

.resume_buttom .resume_namerole .name{
    font-size: 32px;
    height: 166.164306640625px;
    width: 20;
    left: 1780px;
    top: 902px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 700;
    padding-top: 70%;
    color: #FFFF;
    margin-left: 5%;
    text-transform: uppercase;
}

.resume_buttom .resume_namerole .role{
    font-size: 16px;
    height: 166.164306640625px;
    width: 20;
    left: 1780px;
    top: 902px;
    border-radius: nullpx;
    font-style: normal;
    padding-top: 10%;
    color: #FFFF;
    margin-left: 5%;
    text-transform: uppercase;
    margin-bottom: -80px;
}

*/*.contactinfo .title{
    margin-top: -80px;
    font-size: 16px;
    color: #FFFF;
    margin-left: 5%;
    text-transform: uppercase;
   
}*/
.title{
    margin-top: 10px;
    font-size: 16px;
    color: #FFFF;
    margin-left: 5%;
    text-transform: uppercase;
 
}
.hr{
    border: 0;
    height: 3px;
    background: #04AEE3;
    width: 80%;
    margin-left: 5%;
    background-image: linear-gradient(to right, #04AEE3, #ABABAB);
    margin-bottom: 5%;
}

.container ul{
    position: relative;
}
.circle-icon {
    background: #04AEE3;
    border-radius: 50%;
    padding: 10px;
    vertical-align: middle;
    width: auto;
    height: auto;
}
.contactinfo ul li{
    position: relative;
    list-style:none;
    margin: 10px 5%;
    cursor: pointer;
    color: #FFFF;

}
.contactinfo ul li .icon{
    display: inline-block;
    color:#FFFF;
}
.contactinfo ul li span{
    color: #ABABAB;
    font-weight: 300;
    font-size: 13px;
}

.Achievements{
    margin-top: 50px;
}
.Achievements .box{
    display: flex;
    flex-direction: row;
    margin: 10px 5%;
    color:#ABABAB ;
}

.Achievements .box .year_achieve{
    min-width: 100px;
}

.Achievements .box .year_achieve h5{
    color: #04AEE3;
    font-weight: 600;
}


.container .left_Side{
    position: relative;
    max-width: 65%;
    background-color: #E8E7E9;
    
}


.circle-icon2 {
    background: #04AEE3;
    border-radius: 50%;
    padding: 10px;
    vertical-align: middle;
   
    
}

.icon2{
    float: left;
    margin-right: 20px;
    color: #FFFF;
   
}

.icon2 h2{
    text-align: left;
    font-size: 16px;
    color: #000000;
    margin-left: 5%;
}

.about .box{
    display: flex;
    
    margin-bottom: 5%;
    
   
}

.box .year{
   padding-right: 20px;
    width: 110px;
    position: relative;
    
}

/*.box .company .title{
    padding-left: 30px;
    margin-bottom: 10px;
    width: calc(100%-115px);
}*/
.box .text {
    padding-left: 15px;
    margin-bottom: 10px;
    width: calc(100%-110px);

}


.about .box .year::before{
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    margin-left: 100px;
    background: #04AEE3;
    width: 10px;
    height: 10px;
    border: 1px solid #04AEE3;
    border-radius: 50%;
}
.about .box .year::after{
    content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    left: 68px;
    width: 2px;
    height: 110%;
    background: #525252;
}

.box .text li{
    font-size: 10px;
}

.education .box{
    display: flex;
    margin-bottom: 5%;
    
    
}
.education .box .content {
    padding-left: 15px;
    margin-bottom: 10px;
    width: calc(100%-110px);

}
.education li::before{
    background-color:#525252 ;
    width: 2px;
    content: '';
    position: absolute;
    right: 4px;
    top: 0px;
    bottom: 0px;
    left: 65px;
    height: 75px;
    
}
.education ul h4{
  display: flex;
}
.education li {
    /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
    position:relative;
    display: block;
    /* Use padding to space things out rather than margins as the line would get broken up otherwise */
    margin: 0;
    padding-bottom: 1em;
    padding-left: 80px;
}
.education li::after {
    content: '';
    position: absolute;
    background: #04AEE3;
    width: 10px;
    height: 10px;
    border: 1px solid #04AEE3;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    left: 60px;
    top: 0;
   
}
.Skills{
    margin-top: 50px;
    
}



.Skills .skill_list{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    text-align: left;
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    font-weight: bold;
    
    
    
}

.Skills .skill_list .skill_bar {
    margin: -5%;
    position: relative;
    width: 125px;
    height: 10px;
    background: #04AEE3;
    border-radius: 20%;

}
.Skills .skill_list .skill_bar progress{
    
    position: relative;
    width: 125px;
    height: 20px;
    background: #04AEE3;
    border-radius: 20%;

}

.references {
    margin-top: 5%;
}

.references .box{
    display: flex;
    flex-direction: row;

    margin: 20px 0;
    margin-top: 5%;
}
.references ul{
    position: relative;
    float: left;
    margin-right: 5%;
}

.references .ul .li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    margin-bottom: 50px;
    cursor: pointer;
    

}
    
.references ul li span {
    font-weight: 300;
    font-size: 14px;

}

.references .text-dark{
    font-weight: bold;
    
}